name: Node Continuous Integration

on:
  pull_request:
    branches: [ master ]


jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    steps:
      #
      - uses: actions/checkout@v2
      # - uses: actions/checkout@v1
      # - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: echo ${{ github.head_ref }} #
      # - run: git fetch --all #
      # - run: git pull origin master
      # - run: git branch --show-current # odd return... headless?
      - run: git checkout -b ${{ github.base_ref }}_${{ github.head_ref }}
      # - run: git checkout -b ${{ github.base_ref }}_${{ github.head_ref }} ${{ github.base_ref }}
      ## - run: git merge origin/${{ github.head_ref }}
      # 
      # - run: git fetch --all #
      #
      - run: git branch -a
      - run: git log
      #
      # - run: git checkout ${{ github.head_ref }}
      # - run: git checkout ${{ github.base_ref }}_${{ github.head_ref }}
      #
      - run: git checkout origin/${{ github.head_ref }}
      - run: git checkout origin/${{ github.base_ref }}_${{ github.head_ref }}
        
      #
      #
      # - run: git merge ${{ github.head_ref }}
      # - run: git merge origin/${{ github.head_ref }}
      # - run: git merge origin/${{ github.head_ref }} --allow-unrelated-histories
      #
      #
      #
      #
      # # - run: git push --set-upstream origin master_test1
      #
      # - run: git fetch --all #
      #
      #- name: Merge ${{ github.head_ref }} -> ${{ github.base_ref }}_${{ github.head_ref }}
      #  uses: devmasx/merge-branch@v1.3.0
      #  with:
      #    type: now
      #    # from_branch: development
      #    # from_branch: ${{ github.head_ref }}
      #    # target_branch: staging
      #    target_branch: ${{ github.base_ref }}_${{ github.head_ref }}
      #    github_token: ${{ github.token }}
      #
      # TODO: if git conflict fail
      # TODO: if no git conflict continue / ok
      # TODO: git -d ${{ github.base_ref }}_${{ github.head_ref }}
      - run: npm test
      - run: npm run build
