name: Node Continuous Integration

on:
  pull_request:
    branches: [ master ]


jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci

      - run: git branch --show-current
      - run: git branch -a
      - run: git log
      - run: git diff
      - run: git status
      - run: cat public/404.html

      - run: npm test
      - run: npm run build
